.card {
    width: 400px;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

:host ::ng-deep .p-card-title {
    text-align: center;
}