<div class="card">
  <p-card header="Register">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">
      <app-custom-form-input
        [inputType]="'text'"
        [inputId]="'firstName_input'"
        [label]="'First Name'"
        [control]="firstName"
      ></app-custom-form-input>
      <app-custom-form-input
        [inputType]="'text'"
        [inputId]="'lastName_input'"
        [label]="'Last Name'"
        [control]="lastName"
      ></app-custom-form-input>
      <app-custom-form-input
        [inputType]="'text'"
        [inputId]="'username_input'"
        [label]="'Username'"
        [control]="username"
      ></app-custom-form-input>
      <app-custom-form-input
        [inputType]="'text'"
        [inputId]="'zip_input'"
        [label]="'Zip'"
        [control]="zip"
      ></app-custom-form-input>
      <app-custom-form-input
        [inputType]="'password'"
        [inputId]="'password_input'"
        [label]="'Password'"
        [control]="password"
      ></app-custom-form-input>
      <app-primary-button
        type="Submit"
        buttonLabel="Register"
      ></app-primary-button>
    </form>
  </p-card>
</div>
