nav{
    width: 100%;
    padding: 0 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
}
main{
    width: 100%;
    padding: 0 10px;
    min-height: calc(100vh - 100px);
    height: 1px
}